<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header>
  		<h1><%= title %></h1>
  	</header>
    <div class="left">
    	<ul>
    		<% music.forEach(function(name){ %>
    			<li><%= name %></li>
    		<% })%>
    	</ul>
    </div>
    <div class="right">

    </div>
  </body>
</html>
