* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #900;
    color: #fff;
    text-align: center;
}

header {
	margin: 10px;
	height: 150px;
	/*border: 1px solid #fff;*/
}
header h1 {
	font-size: 40px;
	height: 60px;
	line-height: 60px;
}
.left,
.right {
	height: 85%;
}
.left {
	position: absolute;
	left: 10px;
	float: left;
	width: 15%;
	border: 1px solid #fff;
}
.left ul {
	/*overflow: auto;*/
}
.left ul li {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #999;
	line-height: 40px;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;/*不换行*/
}
.left ul li.selected {
	color: green;
}
.right {
	position: absolute;
	right: 10px;
	left: -webkit-calc(15% + 20px);
	left: calc(15% + 20px);
	float: right;
	/*border: 1px solid #fff;*/
}

.type {
	width: 200px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #fff;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}
.type li {
	list-style: none;
	float: left;
	width: 99px;
	text-align: center;
	cursor: pointer;
}
.type li.selected {
	color: #333;
	background: #eee;
}

input[type="range"] {
	-webkit-appearance: none;
	height: 8px;
	background: #999;
	border-radius: 10px;
	outline: none;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	background: #fff;
	border-radius: 100%;
}
input[type="range"]::-moz-range-track {
	height: 8px;
	background: #999;
	border-radius: 10px;
	border: none;
}
input[type="range"]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	background: #fff;
	border: none;
	border-radius: 100%;
}
@media screen and (max-width : 800px), screen and (max-height:500px) {
	body {
		font-size: 12px;
	}
	header {
		height: 80px;
	}
	header h1 {
		font-size: 24px;
		height: 34px;
		line-height: 34px;
	}
	.type {
		width: 100px;
		height: 20px;
		line-height: 20px;
	}
	.type li {
		width: 49px;
	}
}
